@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: DMSans;
    src: url(../fonts/DMSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: DMsans;
    background: #F4F7FE;
}

.menu {
    width: 320px;
}

.content {
    margin-left: 320px;
}

.topbar {
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 20px;
    border-bottom: #F4F7FE 1px solid;
}